# Getting to know your data with Pandas

## Pandas

Pandas is Python Data Analysis Library. Pandas provides an R-like DataFrame, produces high quality plots with matplotlib, and integrates nicely with other libraries that expect NumPy arrays.

## Getting started

In [4]:
import pandas as pd
import pandas_datareader.data as web
from pandas import Series, DataFrame

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns


from datetime import datetime

#pd.__version__

%matplotlib inline

## Fetching, storing and retrieving your data

More information on what types of data you can fetch

http://pandas.pydata.org/pandas-docs/stable/remote_data.html

In [15]:
stocks = 'YELP'
data_source = 'yahoo'
start = datetime(2015,1,1)
end = datetime(2015,12,31)

yahoo_stocks = web.DataReader(stocks, data_source, start, end)

# yahoo_stocks.head()
yahoo_stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 252 entries, 2015-01-02 to 2015-12-31
Data columns (total 6 columns):
Open         252 non-null float64
High         252 non-null float64
Low          252 non-null float64
Close        252 non-null float64
Volume       252 non-null int64
Adj Close    252 non-null float64
dtypes: float64(5), int64(1)
memory usage: 13.8 KB

In [14]:
yahoo_stocks

                 Open       High        Low      Close    Volume  Adj Close
Date
2015-01-02  55.459999  55.599998  54.240002  55.150002   1664500  55.150002
2015-01-05  54.540001  54.950001  52.330002  52.529999   2023000  52.529999
2015-01-06  52.549999  53.930000  50.750000  52.439999   3762800  52.439999
2015-01-07  53.320000  53.750000  51.759998  52.209999   1548200  52.209999
2015-01-08  52.590000  54.139999  51.759998  53.830002   2015300  53.830002
2015-01-09  55.959999  56.990002  54.720001  56.070000   6222600  56.070000
2015-01-12  56.000000  56.060001  53.430000  54.020000   2405100  54.020000
2015-01-13  54.470001  54.799999  52.520000  53.180000   1952100  53.180000
2015-01-14  52.799999  53.680000  51.459999  52.200001   1854600  52.200001
2015-01-15  53.000000  53.610001  50.029999  50.119999   2640400  50.119999
2015-01-16  50.180000  51.490002  50.029999  51.389999   2183300  51.389999
2015-01-20  51.650002  51.779999  50.689999  51.410000   1227600  51.410000
2015-01-21  51.200001  53.500000  51.200001  53.410000   3248100  53.410000
2015-01-22  53.869999  55.279999  53.119999  54.799999   2295400  54.799999
2015-01-23  54.660000  55.639999  54.299999  55.189999   1636400  55.189999
2015-01-26  55.119999  55.790001  54.830002  55.410000   1450300  55.410000
2015-01-27  56.060001  56.160000  54.570000  55.630001   2410400  55.630001
2015-01-28  56.150002  56.150002  52.919998  53.000000   2013100  53.000000
2015-01-29  52.849998  53.310001  51.410000  52.930000   1844100  52.930000
2015-01-30  52.590000  53.419998  52.049999  52.470001   1875400  52.470001
2015-02-02  52.939999  53.500000  51.209999  53.470001   2105500  53.470001
2015-02-03  53.830002  55.930000  53.410000  55.779999   2885400  55.779999
2015-02-04  55.529999  57.070000  55.250000  56.740002   2498600  56.740002
2015-02-05  57.599998  57.700001  56.080002  57.470001   4657300  57.470001
2015-02-06  47.700001  48.169998  44.860001  45.110001  25137400  45.110001
2015-02-09  44.910000  45.040001  42.099998  42.169998  13079300  42.169998
2015-02-10  43.830002  45.549999  43.310001  44.660000  11267700  44.660000
2015-02-11  45.389999  46.430000  44.810001  46.180000   6359400  46.180000
2015-02-12  46.450001  47.840000  45.950001  47.630001   4375000  47.630001
2015-02-13  48.509998  49.049999  47.220001  47.529999   4713100  47.529999
...               ...        ...        ...        ...       ...        ...
2015-11-18  27.540001  28.830000  27.309999  28.230000   3091600  28.230000
2015-11-19  28.190001  28.690001  27.910000  28.059999   1487500  28.059999
2015-11-20  28.100000  31.250000  28.049999  31.209999   6697500  31.209999
2015-11-23  30.580000  30.809999  29.150000  29.860001   4029900  29.860001
2015-11-24  29.459999  30.629999  29.450001  30.010000   2584500  30.010000
2015-11-25  29.790001  30.540001  29.709999  30.510000   1287100  30.510000
2015-11-27  30.500000  30.600000  29.610001  30.180000   1058900  30.180000
2015-11-30  30.110001  30.719999  29.770000  30.129999   2015600  30.129999
2015-12-01  30.110001  30.459999  29.799999  30.309999   1886000  30.309999
2015-12-02  30.299999  32.470001  30.290001  31.389999   4650300  31.389999
2015-12-03  31.389999  32.240002  30.480000  30.629999   2698900  30.629999
2015-12-04  30.530001  30.860001  29.320000  30.450001   2313800  30.450001
2015-12-07  30.379999  30.639999  29.629999  30.040001   1362300  30.040001
2015-12-08  29.809999  31.379999  29.500000  30.920000   1830200  30.920000
2015-12-09  30.980000  31.139999  29.260000  30.000000   2238500  30.000000
2015-12-10  30.110001  31.299999  29.990000  30.830000   1252900  30.830000
2015-12-11  30.690001  30.750000  29.600000  29.650000   1415000  29.650000
2015-12-14  29.600000  29.889999  28.850000  29.580000   2328600  29.580000
2015-12-15  29.680000  30.000000  26.459999  26.870001   5759200  26.870001
2015-12-16  26.889999  28.240000  26.260000  28.030001   2992100  28.030001
2015-12-17  28.139999  28.320000  27.190001  27.420000   1483900  27.420000
2015-12-18  27.309999  27.910000  26.900000  27.170000   1299800  27.170000
2015-12-21  27.170000  27.360001  26.030001  26.250000   1947600  26.250000
2015-12-22  26.250000  28.700001  26.150000  27.930000   2952700  27.930000
2015-12-23  27.950001  28.420000  27.440001  28.150000   1001000  28.150000
2015-12-24  28.270000  28.590000  27.900000  28.400000    587400  28.400000
2015-12-28  28.120001  28.379999  27.770000  27.879999   1004500  27.879999
2015-12-29  27.950001  28.540001  27.740000  28.480000   1103900  28.480000
2015-12-30  28.580000  28.780001  28.170000  28.250000   1068000  28.250000
2015-12-31  28.100000  28.969999  28.020000  28.799999   1301500  28.799999

[252 rows x 6 columns]

More on pandas data frames: 


http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html

#### Reading data from a .csv file

Some basic commands for reading and getting to know the characteristics of your data

In [ ]:
yahoo_stocks.to_csv('yahoo_data.csv')
#print(open('yahoo_data.csv').read())
df = pd.read_csv('yahoo_data.csv')#, index_col='Date', infer_datetime_format=True, parse_dates=True)
#print df.head()
#print df.info()
#print df.index
print df

In [ ]:
#The number of tuples in your data
print len(df)

## Playing with data columns

In [ ]:
#The columns/features of your data
print df.columns

In [ ]:
#Selecting a single column from your data
print df['Open']

In [ ]:
#Another way of selecting a single column from your data
print df.Open

In [ ]:
print df.columns
print (df[['Open','Close']]).info()
#print df[['Open','Close']]

In [ ]:
print df.Date.head(10)
print df.Date.tail(10)

In [ ]:
#alternative
print df['Date'].head(10)
print df['Date'].tail(10)

#### Changing the column names

In [ ]:
new_column_names = [ x.lower().replace(' ','_') for x in df.columns]
new_column_names
df.columns = new_column_names
print df.info()

#### Now **all** columns can be accessed using the **dot** notation

In [ ]:
print df.adj_close

In [ ]:
print df.adj_close.head()

#### We can now apply methods on different columns

In [ ]:
print df.mean()
#df.std()
#df.median()
#df.open.mean()
#df.high.mean()

#### Plotting some columns

In [ ]:
df.adj_close.plot(label='adj')
df.low.plot(label='close')
#df.low.plot()
plt.legend(loc=2)

In [ ]:
df.adj_close.hist()
#df.volume.hist()

## Bulk Operations

Methods like **sum( )** and **std( )** work on entire columns. We can run our own functions across all values in a column (or row) using **apply( )**.

In [ ]:
print df.date.head()

The **values** property of the column returns a list of values for the column. Inspecting the first value reveals that these are strings with a particular format.

In [ ]:
print df.date.values
first_date = df.date.values[0]
print first_date

In [ ]:
datetime.strptime(first_date, "%Y-%m-%d")

In [ ]:
df.date = df.date.apply(lambda d: datetime.strptime(d, "%Y-%m-%d"))
print df.date.head()

Each row in a DataFrame is associated with an index, which is a label that uniquely identifies a row.

The row indices so far have been auto-generated by pandas, and are simply integers starting from 0. From now on we will use dates instead of integers for indices-- the benefits of this will show later. Overwriting the index is as easy as assigning to the index property of the DataFrame.

In [ ]:
df.index = df.date
print df.info()

#### Accessing rows of the DataFrame using index values

In [ ]:
df.ix[datetime(2015,1,23,0,0)]

#### Accessing individual rows using iloc[ ]

In [ ]:
df.iloc[0,:]

#### Iterating over the rows using **iterrows( )**

In [ ]:
num_positive_days = 0
for idx, row in df.iterrows():
    if row.close > row.open:
        num_positive_days += 1
        
print "The total number of positive-gain days : " + str(num_positive_days)

#### Droping a column

Now that we have made an index based on date, we can drop the actual ``date" column

In [ ]:
df = df.drop(['date'],axis=1)
print df.info()
print df.columns

## Filtering

Selecting interesting rows from the data.  All operations below return a DataFrame, which can be treated the same way as all DataFrames we have seen so far.

In [ ]:
positive_days = df[df.close > df.open]
print positive_days.head()
print len(positive_days)

In [ ]:
very_positive_days = df[df.close-df.open > 4]
print len(very_positive_days)
#print very_positive_days.head()

In [ ]:
tmp_high = df.high > 60
print type(tmp_high)

In [ ]:
print tmp_high.head()
print len(tmp_high)

Select only the rows of **df** that correspond to **tmp_high**

In [ ]:
print df[tmp_high]

## Creating new columns

In [ ]:
df['profit'] = (df.open < df.close)
print df.head()

In [ ]:
for idx, row in df.iterrows():
    if row.close > row.open:
        df.ix[idx,'gain']='negative'
    elif (row.open - row.close) < 1:
        df.ix[idx,'gain']='small_gain'
    elif (row.open - row.close) < 6:
        df.ix[idx,'gain']='medium_gain'
    else:
        df.ix[idx,'gain']='large_gain'
print df.head()

#### Alternatively

In [ ]:
def namerow(row):
    if row.close > row.open:
        return 'negative'
    elif (row.open - row.close) < 1:
        return 'small_gain'
    elif (row.open - row.close) < 6:
        return 'medium_gain'
    else:
        return 'large_gain'

df['test_column'] = df.apply(namerow, axis = 1)

In [ ]:
print df.head()

In [ ]:
df.drop('test_column', axis = 1)

## Grouping

Besides **apply()**, another great DataFrame function is **groupby()**. It will group a DataFrame by one or more columns, and let you iterate through each group.

Here we will show the average gain among the three categories of negative, small, medium and large gains we defined above and stored in column ``gain"

In [ ]:
gains = {}
for gain, gain_data in df.groupby("gain"):
    gains[gain] = gain_data.close.mean()
gains

## Comparing multiple stocks

As a last task, we will use the experience we obtained so far -- and learn some new things -- in order to compare the performance of different stocks we obtained from Yahoo finance.

In [ ]:
stocks = ['ORCL', 'TSLA', 'IBM','YELP', 'MSFT']
attr = 'Close'
df = pd.io.data.get_data_yahoo(stocks, 
                               start=datetime(2014, 1, 1), 
                               end=datetime(2014, 12, 31))[attr]
print df.head()

In [ ]:
df.ORCL.plot(label = 'oracle')
df.TSLA.plot(label = 'tesla')
df.IBM.plot(label = 'ibm')
df.MSFT.plot(label = 'msft')
df.YELP.plot(label = 'yelp')
plt.legend(loc=5)

#### Calculating returns over a period of length T

$$r(t) = \frac{f(t)-f(t-T)}{f(t)} $$

The returns can be computed in python with a simple function **pct_returns( ) **

In [ ]:
rets = df.pct_change(30)
#print rets.head(20)

Plotting again the timeseries of the returns of the different stocks

In [ ]:
rets.ORCL.plot(label = 'oracle')
rets.TSLA.plot(label = 'tesla')
rets.IBM.plot(label = 'ibm')
rets.MSFT.plot(label = 'msft')
rets.YELP.plot(label = 'yelp')
plt.legend()

In [ ]:
plt.scatter(rets.TSLA, rets.ORCL)
plt.xlabel('Returns TESLA')
plt.ylabel('Returns ORCL')

#### Correlations of columns

The correlation coefficient between variables $X$ and $Y$ is defined as follows:
$$\text{Corr}(X,Y) = \frac{E\left[(X-\mu_X)(Y-\mu_Y)\right]}{\sigma_X\sigma_Y}$$

In python we can compute the correlation coefficient of all pairs of columns with **corr( )**

In [ ]:
corr = rets.corr()
print corr

#### Visualizing the correlation coefficient of all columns

We will learn more about visualization later, but for now this is a simple example

In [ ]:
sns.heatmap(corr, annot=True)

#### Returns vs risk (standard deviation)

In many applications, we want to know both the returns as well as the standard deviation of the returns of a stock (i.e., its risk).  Below we visualize the result of such an analysis

In [ ]:
plt.scatter(rets.mean(), rets.std())
plt.xlabel('Expected returns')
plt.ylabel('Standard Deviation (Risk)')
for label, x, y in zip(rets.columns, rets.mean(), rets.std()):
    plt.annotate(
        label, 
        xy = (x, y), xytext = (20, -20),
        textcoords = 'offset points', ha = 'right', va = 'bottom',
        bbox = dict(boxstyle = 'round,pad=0.5', fc = 'yellow', alpha = 0.5),
        arrowprops = dict(arrowstyle = '->', connectionstyle = 'arc3,rad=0'))

In [ ]:
# Code for setting the style of the notebook
from IPython.core.display import HTML
def css_styling():
    styles = open("../theme/custom.css", "r").read()
    return HTML(styles)
css_styling()